.trans{
    transform: translate(10%, -105%);
    width: 85%;
    height: 80%;
}
.font{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: rgb(29, 38, 104);
    letter-spacing: 3px;
    text-shadow: 1px 3px  rgba(106, 14, 204, 0.844);
}
.font1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: rgb(29, 38, 104);
}
.fun{
    background-color: #d3d3d3;
}
.pics{
    width: 32%;
    height: 80%;
    position: absolute;
    transform: translate(15%, 15%);
    z-index: 3;
}
.bgs{
    width: 22rem;
    height: 8rem;
    background-color: white;
    z-index: 1;
    position:absolute;
    left: 40px;
    border-radius: 30px;
    top: 100px;
    transform: rotate(170deg);
}
.bgl{
    width: 25rem;
    height: 1.7rem;
    position: absolute;
    top: 220px;
    z-index: 5;
    left:30px;
    transform: rotate(170deg);
    background-color: transparent;
    background-color: black;
}
.bgs1{
    width: 25rem;
    height: 8rem;
    background-color: white;
    z-index: 2;
    position:absolute;
    left: 130px;
    border-radius: 30px;
    top: 230px;
    transform: rotate(170deg);
}
.bgl1{
    width: 25rem;
    height: 1.7rem;
    position: absolute;
    top: 375px;
    z-index: 5;
    left:40px;
    transform: rotate(170deg);
    background-color: black
}
.bgs2{
    width: 23rem;
    height: 10rem;
    background-color: white;
    z-index: 2;
    position:absolute;
    left: 90px;
    border-radius: 30px;
    top:395px;
    transform: rotate(170deg);
}